/* 

CONTENTS:

    1. GENERAL STYLES FOR HEADER
    2. STYLES FOR ICON BUTTONS
    3. BACKGROUND WHEN MODAL POP UP
    4. ANIMATION AND STYLES FOR MODAL POP UP
    5. STYLES FOR CLOSE ICON (clear-icon)
    6. RESPONSIVE DESIGN

*/

/* 1. GENERAL STYLES FOR HEADER */

header.flex {
    gap: 16px;
    justify-content: center;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 90%;
}

header.flex nav{
    background-color: var(--bgHeader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    border: 1px solid var(--blue);
    /* box-shadow: 0px 4px 23px -8px rgba(0,0,0,0.45); */
}

header ul {
    gap: 16px;
}

header ul li a {
    color: var(--title);
    opacity: 0.9;
    font-size: 1.2rem;
    font-weight: 500;
}

header ul li a:hover {
    color: var(--title);
    opacity: 1;
    font-size: 1.3rem;
    color: var(--blue);
}

header button {
    font-size: 1.2rem;
}

header button.menu {
    display: none;
}

/* 2. STYLES FOR ICON BUTTONS */

header .icon-menu, header button.mode {
    justify-content: center;
    text-align: center;
    background-color: var(--bgHeader);
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    color: var(--subtitle);
    border: 1px solid var(--blue);
    transition: 0.3s;
    /* box-shadow: 0px 4px 23px -8px rgba(0,0,0,0.45); */
}

header .icon-menu:hover, header button.mode:hover {
    color: var(--title);
    border: 1px solid var(--blue)
}

header .icon-sun{
    color: orange;
}

/* 3. BACKGROUND WHEN MODAL POP UP */

header .fixed{
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgba(40, 40, 48, 0.91);
    backdrop-filter: blur(4px);
}

/* 4. ANIMATION AND STYLES FOR MODAL POP UP */
@keyframes myMove {
    0% {scale: 0}
    100% {scale: 1;}
}

header .fixed ul.modal{
    animation: myMove 0.3s 1;
    width: 85%;
    margin: 2rem auto auto auto;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
}

header .fixed ul.modal li{
    border-bottom: 1px solid var(--border);
    padding-top: 0.5rem;
    padding-bottom: 0.77rem;
}

header .fixed ul.modal li:first-child{
    text-align: right;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.2;
}

header .fixed ul.modal li:last-child{
    border: none
}

header .fixed ul.modal li a{
    font-size: 1rem;
}

/* 5. STYLES FOR CLOSE ICON (clear-icon) */

header .icon-close {
    font-size: 1.3rem;
    color: var(--subtitle);
    transition: 0.15s;
}

header .icon-close:hover {
    font-size: 1.4rem;
    color: crimson;
}

/* 6. RESPONSIVE DESIGN */

@media  (max-width: 768px) {
    header.flex {
        justify-content: space-between;
    }

    header.flex nav{
        display: none;
    }

    header button.menu {
        display: block;
    }
}